Lecture: Say "Hello" to the world

In [1]:
# Python output

print('Hello, Python!')

Hello, Python!

In [3]:
# Check the Python version

import sys
print(sys.version)

3.6.13 | packaged by conda-forge | (default, Feb 19 2021, 05:36:01)
[GCC 9.3.0]

In [4]:
# Practice writing comments

print('Hello, Python') #This line prints a string
# print('Hi')

Hello, Python

In [5]:
# Errors in Python: Print string as error message

frinz('Hello, Python')

NameError: name 'frinz' is not defined

Here I can see, where is the error and what is the error

In [6]:
# Try to see built in error message

print("Hello, Python)

SyntaxError: EOL while scanning string literal (<ipython-input-6-ffdd909dc76b>, line 3)

In [7]:
# Print string and error to see the running order

print('This will be printed')
frint('This will cause error')
print('This will NOT be printed')

This will be printed

NameError: name 'frint' is not defined

Exercise: Your first program

In [8]:
# Use the print() function to print out the phrase: Hello, world!

print('Hello, world!')

Hello, world!

In [9]:
# Use a comment next to the program

print('Hello, world!') #Print the traditional hello world

Hello, world!

Lecture: Types of objects in Python

In [10]:
# Integer

11

11

In [11]:
# Float

2.14

2.14

In [12]:
# String

'Hello Python 101!'

'Hello Python 101!'

In [13]:
# Type of 12

type(12)

int

In [14]:
# Type of 2.14

type(12.4)

float

In [15]:
# Type of 'Hello, Python 101!'

type('Hello, Python 101!')

str

In [17]:
# Type of 12.0

type(12.0)

float

Integers

In [1]:
# Print the type of -1

type(-1)

int

In [2]:
# Print the type of 4

type(4)

int

In [3]:
# Print the type of 0

type(0)

int

Floats

In [4]:
# Print the type od 1.0

type(1.0) # Notice, that 1 is an int, and 1.0 is a float

float

In [5]:
# Print the type of 0.5

type(0.5)

float

In [6]:
# Print the type of 0.56

type(0.56)

float

In [8]:
# System settings about float type

import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

Converting from one object to a different object type

In [9]:
# Verify, that 2 is an integer

type(2)

int

Converting integers to floats

In [10]:
# Convert 2 to a float

float(2)

2.0

In [11]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [13]:
# Castin 1.1 to integer

int(1.1)

1

Converting from strings to integers or floats

In [14]:
# Convert a string to an integer

int('1')

1

In [15]:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [16]:
# Convert the string "1.2" into a float

float('1.2')

1.2

Converting numbers to string

In [17]:
# Convert an integer ti a string

str(1)

'1'

In [18]:
# Convert a float to a string

str(1.2)

'1.2'

Boolean data type

In [19]:
# Value true

True

True

In [20]:
# Value false

False

False

In [21]:
# Type of True

type(True)

bool

In [22]:
# Type of false

type(False)

bool

Casting from boolean and to boolean

In [23]:
# Convert True to int

int(True)

1

In [24]:
# Convert 0 to boolean

bool(0)

False

In [25]:
# Convert True to float

float(True)

1.0

Exercise: Types

In [26]:
# What is the type of the result of 6/2?

type(6/2)

float

In [27]:
# What is the type of result of 6 // 2

type(6//2)

int

Expression and Variables

In [28]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [29]:
# Subtraction operation expression

50 - 60

-10

In [30]:
# Multiplication operation expression

5 * 5

25

In [31]:
# Division operation expression

25 / 5

5.0

In [32]:
# Division operation expression

25 / 6

4.166666666666667

Using double slash for integer division

In [33]:
# Integer division operation expression

25 // 5

5

In [34]:
# Integer division operation expression

25 // 6

4

In [35]:
# Integer division operation expression

3 // 4

0

Exercise: Expression

In [36]:
# Calculate how many hours there are in 160 minutes

160/60

2.6666666666666665

Mathematical convention

In [37]:
# Mathematical expression

30 + 2 * 60

150

In [38]:
# Mathematical expression

(30 + 2) * 60

1920

Variables

In [57]:
# Store value in variable

x = 43 + 60 + 16 + 41

In [58]:
# Print out the value in variable 

x

160

In [59]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

In [60]:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

In [61]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total lenght of albums in minutes
total_min

142

In [62]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours
total_hours

2.3666666666666667

In [63]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60 # Total hours in a single expression
total_hours

2.3666666666666667

Exercise

In [69]:
# What is the value of x where x = 3 + 2 * 2?

x = 3 + 2 * 2
x

7

In [70]:
# What is the value of y where y = (3 + 2) * 2?

y = (3 + 2) * 2
y

10

In [71]:
# What is the value of z where z = x + y?

z = x + y
z

17